[phone_brand]
clf = nb
labels = phone_brand_en_num

[device_model]
labels = device_model_en_num

[phone_device]
clf = nb
labels = phone_brand_en_num,device_model_en_num

[text_wc_lr]
clf = lr
labels = text_wc

[text_wc_xgb]
clf = xgb
labels = text_wc

[text_wc_rf]
clf = rf
labels = text_wc

[text_tfidf_lr]
clf = lr
labels = text_wc

[text_tfidf_xgb]
clf = xgb
labels = text_wc

[text_tfidf_rf]
clf = rf
labels = text_wc

